@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 30% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 88 57% 41%;
    --primary-foreground: 88 25% 95%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 51 100% 50%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 5.9% 90%;
    --input: 60 5.9% 90%;
    --ring: 88 57% 41%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 5% 12%;
    --foreground: 0 0% 98%;
    --card: 240 5% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 88 57% 41%;
    --primary-foreground: 88 25% 95%;
    --secondary: 240 3.7% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 51 100% 50%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 20%;
    --ring: 88 57% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
